/* Padding */

.p_0 {
  padding: 0px;
}
.p_5 {
  padding: 5px;
}
.p_10 {
  padding: 10px;
}
.p_15 {
  padding: 15px;
}
.p_20 {
  padding: 20px;
}
.p_25 {
  padding: 25px;
}
.p_30 {
  padding: 30px;
}

.p_t_0 {
  padding-top: 0px;
}
.p_t_5 {
  padding-top: 5px;
}
.p_t_10 {
  padding-top: 10px;
}
.p_t_15 {
  padding-top: 15px;
}
.p_t_20 {
  padding-top: 20px;
}
.p_t_25 {
  padding-top: 25px;
}
.p_t_30 {
  padding-top: 30px;
}

.p_b_0 {
  padding-bottom: 0px;
}
.p_b_5 {
  padding-bottom: 5px;
}
.p_b_10 {
  padding-bottom: 10px;
}
.p_b_15 {
  padding-bottom: 15px;
}
.p_b_20 {
  padding-bottom: 20px;
}
.p_b_25 {
  padding-bottom: 25px;
}
.p_b_30 {
  padding-bottom: 30px;
}

.p_l_0 {
  padding-left: 0px;
}
.p_l_5 {
  padding-left: 5px;
}
.p_l_10 {
  padding-left: 10px;
}
.p_l_15 {
  padding-left: 15px;
}
.p_l_20 {
  padding-left: 20px;
}
.p_l_25 {
  padding-left: 25px;
}
.p_l_30 {
  padding-left: 30px;
}

.p_r_0 {
  padding-right: 0px;
}
.p_r_5 {
  padding-right: 5px;
}
.p_r_10 {
  padding-right: 10px;
}
.p_r_15 {
  padding-right: 15px;
}
.p_r_20 {
  padding-right: 20px;
}
.p_r_25 {
  padding-right: 25px;
}
.p_r_30 {
  padding-right: 30px;
}

/* Margin */

.m_0 {
  margin: 0px;
}
.m_5 {
  margin: 5px;
}
.m_10 {
  margin: 10px;
}
.m_15 {
  margin: 15px;
}
.m_20 {
  margin: 20px;
}
.m_25 {
  margin: 25px;
}
.m_30 {
  margin: 30px;
}

.m_t_0 {
  margin-top: 0px;
}
.m_t_5 {
  margin-top: 5px;
}
.m_t_10 {
  margin-top: 10px;
}
.m_t_15 {
  margin-top: 15px;
}
.m_t_20 {
  margin-top: 20px;
}
.m_t_25 {
  margin-top: 25px;
}
.m_t_30 {
  margin-top: 30px;
}

.m_b_0 {
  margin-bottom: 0px;
}
.m_b_5 {
  margin-bottom: 5px;
}
.m_b_10 {
  margin-bottom: 10px;
}
.m_b_15 {
  margin-bottom: 15px;
}
.m_b_20 {
  margin-bottom: 20px;
}
.m_b_25 {
  margin-bottom: 25px;
}
.m_b_30 {
  margin-bottom: 30px;
}

.m_l_0 {
  margin-left: 0px;
}
.m_l_5 {
  margin-left: 5px;
}
.m_l_10 {
  margin-left: 10px;
}
.m_l_15 {
  margin-left: 15px;
}
.m_l_20 {
  margin-left: 20px;
}
.m_l_25 {
  margin-left: 25px;
}
.m_l_30 {
  margin-left: 30px;
}

.m_r_0 {
  margin-right: 0px;
}
.m_r_5 {
  margin-right: 5px;
}
.m_r_10 {
  margin-right: 10px;
}
.m_r_15 {
  margin-right: 15px;
}
.m_r_20 {
  margin-right: 20px;
}
.m_r_25 {
  margin-right: 25px;
}
.m_r_30 {
  margin-right: 30px;
}

/* Float */

.float_r {
  float: right;
}
.float_l {
  float: left;
}

/* Flex */
.dFlex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.centered {
  align-items: center;
  align-self: center;
  align-content: center;
}
