.chart-area {
  margin-top: 25px;
}

.chart-skills {
  margin: 0 3px;
  padding: 0;
  list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}

/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper {
  display: inline-block;
  p {
    color: #919191;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
  }
}
.chart-skills {
  position: relative;
  width: 120px;
  height: 60px;
  overflow: hidden;
}

.chart-skills::before,
.chart-skills span {
  position: absolute;
}

.chart-skills::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 15px solid $primary_color;
  border-bottom: none;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.chart-skills span {
  left: 0;
  right: 0;
  text-align: center;
  bottom: -5px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #919191;
}

.chart-skills div {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 15px solid;
  border-top: none;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  transform-origin: 50% 0;
  backface-visibility: hidden;
}

.chart-skills div {
  z-index: 4;
  border-color: $secondary_color;
}
.chart-skills .fifty {
  transform: rotate(90deg);
}
.chart-skills .seventy {
  transform: rotate(126deg);
}
.chart-skills .eighty {
  transform: rotate(144deg);
}
.chart-skills .hundered {
  transform: rotate(180deg);
}
